.mainBlank {
    border-width: thin;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.table, .tableHead {
    border-collapse: collapse;
    border-spacing: 50px;
    width: 100%;
}

.table th, .table td, .tableHead th, .tableHead td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-family: "Times New Roman"
}

.time {
    position: relative;
    width: 70%;
}

.operationTime {
    position: relative;
    width: 30%;
}

h3, h2 {
    text-align: center;
}
