<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
                  rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
                  crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/operation.css}"/>
    <title>Список операций</title>
</head>

<body>
<div class="mainBlank">
    <div>
        <table class="tableHead">
            <thead>
            <tr>
                <th width="10%">Разработал</th>
                <th width="10%">Подпись</th>
                <th width="10%">Дата</th>
                <th>№ Детали</th>
                <th>Наименование</th>
                <th>Операция</th>
                <th>Станок</th>
            </tr>
            </thead>
            <tr>
                <td>Полянский</td>
                <td></td>
                <td th:text="${date}"></td>
                <td th:text="${detail.drawingNumber}"></td>
                <td th:text="${detail.name}"></td>
                <td th:text="${program.programName}"></td>
                <td th:text="${program.machine.machineName}"></td>
            </tr>
        </table>
        <table class="table">
            <thead>
            <tr>
                <th width="2%">№</th>
                <th width="10%">Наименование операции</th>
                <th width="7%">Тип операции</th>
                <th width="5%">Файл УП</th>
                <th width="5%">Припуск</th>
                <th width="6%">Припуск на дно</th>
                <th width="6%">Глубина резания</th>
                <th width="7%">Инструмент</th>
                <th width="4%">Номер</th>
                <th width="7%">Параметры инструмента <br> Диаметр/вылет</th>
                <th width="5%">Обороты</th>
                <th width="5%">Подача</th>
                <th width="7%">Машинное время</th>
                <th>Комментарий</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="operation : ${operations}">
                <td><a th:text="${operation.id}"></a></td>
                <td><a th:text="${operation.operationName}"></a></td>
                <td><a th:text="${operation.operationType}"></a></td>
                <td><a th:text="${operation.programmNumber}"></a></td>
                <td><a th:text="${operation.stockPart}"></a></td>
                <td><a th:text="${operation.stockFloor}"></a></td>
                <td>-</td>
                <td><a th:text="${operation.tool.toolName}"></a></td>
                <td><a th:text="'T'+${operation.tool.toolNumber}"></a></td>

                <td><a th:text="${operation.tool.toolDiametr} + ' / ' + ${operation.tool.length}"></a></td>
                <td><a th:text="${operation.spindleSpeed}"></a></td>
                <td><a th:text="${operation.feedRate}"></a></td>
                <td><a th:text="${#numbers.formatDecimal(operation.machineTime,1,2)}"></a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>