<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/operation.css}"/>
    <title>Карта наладки</title>
</head>
<body>
<div class="mainBlank">
    <table class="tableHead">
        <thead>
        <tr>
            <th width="10%">Разработал</th>
            <th width="10%">Подпись</th>
            <th width="10%">Дата</th>
            <th>№ Детали</th>
            <th>Наименование</th>
            <th>Операция</th>
            <th>Станок</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${program.user.name}"></td>
            <td></td>
            <td th:text="${program.created}"></td>
            <td th:text="${detail.drawingNumber}"></td>
            <td th:text="${detail.name}"></td>
            <td th:text="${program.programName}"></td>
            <td th:text="${program.machine.machineName}"></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-3">
            <div class="p-5 fs-4">
                <div th:each="comment : ${comments}">
                    <p th:text="${comment}"></p>

                </div>
            </div>
        </div>
        <div class="col-9">
            <img th:src="@{|/operationBlankPhoto/${program.id}|}">
        </div>
    </div>
    <div class="p-3 fs-3" th:text="${program.programPath}">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>