<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/tool.css}"/>
    <title>Список инструментов</title>
</head>
<body>
<div class="mainBlank">
    <h2 class="text-center">Список инструмента</h2>
    <table class="tableHead">
        <thead>
        <tr>
            <th width="10%">Разработал</th>
            <th width="10%">Подпись</th>
            <th width="10%">Дата</th>
            <th>№ Детали</th>
            <th>Наименование</th>
            <th>Операция</th>
            <th>Станок</th>
        </tr>
        </thead>
        <tr>
            <!--
                                    <td th:text="${program.user.name}"></td>
            -->
            <td></td>
            <td></td>
            <td></td>
            <!--
                                    <td th:text="${program.created}"></td>
            -->
            <td th:text="${detail.drawingNumber}"></td>
            <td th:text="${detail.name}"></td>
            <td></td>
            <td></td>
            <!--
                                    <td th:text="${program.programName}"></td>
            -->
            <!--
                                    <td th:text="${program.machine.machineName}"></td>
            -->
        </tr>
    </table>
    <div th:if="${millingTools.size>0}">
        <table class="tableHead">
            <thead>
            <tr>
                <H4 class="ps-5">Фрезы</H4>
            </tr>
            <tr>
                <th width="10%">№ инструмента</th>
                <th width="25%">Название инструмента</th>
                <th width="15%">Диаметр инструмента</th>
                <th width="15%">Радиус при вершине</th>
                <th width="15%">Вылет</th>
                <th width="15%">Длинна режущей части</th>
                <th>Число зубьев</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="millingTool : ${millingTools}">
                <td><a th:text="${millingTool.toolNumber}"></a></td>
                <td><a th:text="${millingTool.toolName}"></a></td>
                <td><a th:text="${millingTool.toolDiametr}"></a></td>
                <td><a th:text="${millingTool.cornerRadius}"></a></td>
                <td><a th:text="${millingTool.length}"></a></td>
                <td><a th:text="${millingTool.fluteLength}"></a></td>
                <td><a th:text="${millingTool.fluteNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${drillingTools.size>0}">
        <table class="tableHead">
            <thead>
            <tr>
                <H4 class="ps-5">Сверла</H4>
            </tr>
            <tr>
                <th width="10%">№ инструмента</th>
                <th width="25%">Название инструмента</th>
                <th width="15%">Диаметр интрумента</th>
                <th width="15%">Угол сверла</th>
                <th width="15%">Вылет</th>
                <th width="15%">Длинна режущей части</th>
                <th>Число зубьев</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="drillingTool : ${drillingTools}">
                <td><a th:text="${drillingTool.toolNumber}"></a></td>
                <td><a th:text="${drillingTool.toolName}"></a></td>
                <td><a th:text="${drillingTool.toolDiametr}"></a></td>
                <td><a th:text="${#numbers.formatDecimal(drillingTool.toolPointAngle,1,1)}"></a></td>
                <td><a th:text="${drillingTool.length}"></a></td>
                <td><a th:text="${drillingTool.fluteLength}"></a></td>
                <td><a th:text="${drillingTool.fluteNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${spotDrillingTools.size>0}">
        <table class="tableHead">
            <tr>
                <H4 class="ps-5">Центровки</H4>
            </tr>
            <thead>
            <tr>
                <th width="10%">№ инструмента</th>
                <th width="25%">Название инструмента</th>
                <th width="15%">Диаметр интрумента</th>
                <th width="15%">Угол центровки</th>
                <th width="15%">Вылет</th>
                <th width="15%">Длинна режущей части</th>
                <th>Число зубьев</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="spotDrillingTool : ${spotDrillingTools}">
                <td><a th:text="${spotDrillingTool.toolNumber}"></a></td>
                <td><a th:text="${spotDrillingTool.toolName}"></a></td>
                <td><a th:text="${spotDrillingTool.toolDiametr}"></a></td>
                <td><a th:text="${#numbers.formatDecimal(spotDrillingTool.toolPointAngle,1,1)}"></a></td>
                <td><a th:text="${spotDrillingTool.length}"></a></td>
                <td><a th:text="${spotDrillingTool.fluteLength}"></a></td>
                <td><a th:text="${spotDrillingTool.fluteNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${champherMills.size>0}">
        <H4 class="ps-5">Фасочные фрезы</H4>
        <table class="tableHead">
            <thead>
            <tr>
                <th width="10%">№ инструмента</th>
                <th width="25%">Название инструмента</th>
                <th width="15%">Диаметр интрумента</th>
                <th width="15%">Угол фаски</th>
                <th width="15%">Размер фаски</th>
                <th width="15%">Вылет</th>
                <th width="15%">Длинна режущей части</th>
                <th>Число зубьев</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="champherMill : ${champherMills}">
                <td><a th:text="${champherMill.toolNumber}"></a></td>
                <td><a th:text="${champherMill.toolName}"></a></td>
                <td><a th:text="${champherMill.toolDiametr}"></a></td>
                <td><a th:text="${#numbers.formatDecimal(champherMill.toolTapperAngle,1,1)}"></a></td>
                <td><a th:text="${champherMill.chamferLength}"></a></td>
                <td><a th:text="${champherMill.length}"></a></td>
                <td><a th:text="${champherMill.fluteLength}"></a></td>
                <td><a th:text="${champherMill.fluteNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${tCutterMills.size>0}">
        <H4 class="ps-5">Т-образные фрезы</H4>
        <table class="tableHead">
            <thead>
            <tr>
                <th width="10%">№ инструмента</th>
                <th width="25%">Название инструмента</th>
                <th width="15%">Диаметр инструмента</th>
                <th width="15%">Верхний радиус</th>
                <th width="15%">Нижний радиус</th>
                <th width="15%">Диаметр хвостовика</th>
                <th width="15%">Вылет</th>
                <th width="15%">Длинна режущей кромки</th>
                <th>Число зубьев</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tCutterMill : ${tCutterMills}">
                <td><a th:text="${tCutterMill.toolNumber}"></a></td>
                <td><a th:text="${tCutterMill.toolName}"></a></td>
                <td><a th:text="${tCutterMill.toolDiametr}"></a></td>
                <td><a th:text="${tCutterMill.upperCornerRadius}"></a></td>
                <td><a th:text="${tCutterMill.lowerCornerRadius}"></a></td>
                <td><a th:text="${tCutterMill.shankDiameter}"></a></td>
                <td><a th:text="${tCutterMill.length}"></a></td>
                <td><a th:text="${tCutterMill.fluteLength}"></a></td>
                <td><a th:text="${tCutterMill.fluteNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${tapTools.size>0}">
        <H4 class="ps-5">Метчики</H4>
        <table class="tableHead">
            <thead>
            <tr>
                <th width="10%">№ инструмента</th>
                <th width="25%">Название инструмента</th>
                <th width="15%">Диаметр интрумента</th>
                <th width="15%">Шаг резьбы</th>
                <th width="15%">Вылет</th>
                <th width="15%">Длина режущей части</th>
                <th>Число зубьев</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tapTool : ${tapTools}">
                <td><a th:text="${tapTool.toolNumber}"></a></td>
                <td><a th:text="${tapTool.toolName}"></a></td>
                <td><a th:text="${tapTool.toolDiametr}"></a></td>
                <td><a th:text="${tapTool.toolPitch}"></a></td>
                <td><a th:text="${tapTool.length}"></a></td>
                <td><a th:text="${tapTool.fluteLength}"></a></td>
                <td><a th:text="${tapTool.fluteNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${threadMillTools.size>0}">
        <H4 class="ps-5">Резьбофрезы</H4>
        <table class="tableHead">
            <thead>
            <tr>
                <th width="10%">№ инструмента</th>
                <th width="25%">Название инструмента</th>
                <th width="15%">Диаметр интрумента</th>
                <th width="15%">Шаг резьбы</th>
                <th width="15%">Вылет</th>
                <th width="15%">Длина режущей части</th>
                <th>Число зубьев</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="threadMillTool : ${threadMillTools}">
                <td><a th:text="${threadMillTool.toolNumber}"></a></td>
                <td><a th:text="${threadMillTool.toolName}"></a></td>
                <td><a th:text="${threadMillTool.toolDiametr}"></a></td>
                <td><a th:text="${threadMillTool.toolPitch}"></a></td>
                <td><a th:text="${threadMillTool.length}"></a></td>
                <td><a th:text="${threadMillTool.fluteLength}"></a></td>
                <td><a th:text="${threadMillTool.fluteNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${boreTools.size>0}">
        <H4 class="ps-5">Расточные резцы </H4>
        <table class="tableHead">
            <thead>
            <tr>
                <th width="10%">№ инструмента</th>
                <th width="25%">Название инструмента</th>
                <th width="15%">Диаметр инструмента</th>
                <th width="15%">Радиус при вершине</th>
                <th width="15%">Вылет</th>
                <th width="15%">Длинна режущей части</th>
                <th>Число зубьев</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boreTool : ${boreTools}">
                <td><a th:text="${boreTool.toolNumber}"></a></td>
                <td><a th:text="${boreTool.toolName}"></a></td>
                <td><a th:text="${boreTool.toolDiametr}"></a></td>
                <td><a th:text="${boreTool.cornerRadius}"></a></td>
                <td><a th:text="${boreTool.length}"></a></td>
                <td><a th:text="${boreTool.fluteLength}"></a></td>
                <td><a th:text="${boreTool.fluteNumber}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--
        </table>
    -->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>